* {
    font-family: 'Babylonica', cursive;
    font-family: 'Lora', serif;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../Modelo2/views/descarga2.png);
}

#navbarNav ul li {
    padding: 10px;
    border-radius: 20px;
    background-color:#ffe3e3;
    font-size: 20px;
}

#navbarNav ul li:hover {
    background-color:#ffcfcf;
    transition: .6s;
}

.mi-nav {
    background-color: rgb(255, 227, 227);
    justify-content: flex-end;
}

.mi-navbar-ul {
    gap: 30px;
}

.inicio {
    font-size: 30px;
    padding: 0px 50px;
}

.mi-index-main {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}

.mi-index-main h5 {
    font-size: 25px;
    line-height: 43px;
    font-weight: 500;
}

.mi-flex-main {
    display: flex;
    justify-content: space-evenly;
}

.flex-tittle {
    display: flex;
    justify-content: center;
    padding: 40px;
}

div h3 {
    margin: 20px 0px;
}

div h4 {
    margin: 20px
}

.images-aside {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}



/* Adopcion */


.mi-formulario {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
    min-width: 400px;


}

.desplegables {
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 40px
}

.main-adopcion-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

main .input-adopcion {
    width: 30%;
    margin: 30px;
    padding: 14px;
    min-width: 200px;
}

div textarea {
    width: 25%;
    min-width: 200px;
}

.mi-boton {
    height: 50px;
}

.carrusel-adopcion {
    margin-top: 35px;
}






/* faq */


.faq-respuesta {
    margin: 30px;
}



/* nuestra mision */

.nuestra-mision-main p {
    font-size: 25px;
    padding: 45px;
    margin: 10px;
}


/* peluqueria */


.form-peluqueria {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}


.form-peluqueria h6 {
    font-size: 20px
}

.form-peluqueria h6 input{
    margin: 20px;
}

.solicitar-turno {
    width: 15%;
    min-width: 130px;
}

.boton-desplegable-pelu {
    background-color: rgb(173, 216, 230);
}
.boton-desplegable-pelu:hover {
    background-color: rgb(155, 212, 231);
}




/* pet shop */

.mis-cards {
    justify-content: space-evenly;
    gap: 20px;
}

















/* Footer */

footer {
    background-color: #ffe3e3;
    margin-top: 150px;
}

footer div {
    display: flex;
    justify-content: space-evenly;
}

footer div iframe {
    margin: 10px
}

footer div ul {
    display: flex;
    flex-direction: column;
}


footer div ul li {
    margin: 8px;
}

.flex-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
}